header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  margin-bottom: 50px;
  box-shadow: 0 2px 5px rgb(50, 75, 80, 0.3);
}

.logo {
  color: white;
  text-shadow: 0 2px 5px rgb(50, 75, 80, 0.4);
}
