* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #34d399;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__main {
    grid-column: 1 / 3;
    grid-row: 1 / 4;

    &--minmax-container {
      display: flex;
      gap: 10px;
    }
  }

  &__sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &__wind {
    &--container {
      position: relative;
      padding-left: 10px;
    }
    &--arrow {
      background-image: url(./img/arrow-up-thin.svg);
      padding-right: 10px;
      position: absolute;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      top: 0;
      left: 0;
      transform: translate(-50%, -20%);
    }
  }
}

.forecast__container {
  overflow: auto;
  width: 100%;
  display: flex;
  gap: 20px;
  text-align: center;
}
